@using Microsoft.AspNetCore.Authentication

@if (User.Identity.IsAuthenticated)
{
    <div>
        <p>You are signed in as</p>
        
        <h2>@User.Identity.Name</h2>
        
        <hr/>

        <dl>
            @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
            {
                <dt>@prop.Key</dt>
                <dd>@prop.Value</dd>
            }
        </dl>
        
        <hr/>
        
        <p><a class="btn btn-dark" asp-controller="Account" asp-action="Logout">Sign out</a></p>
    </div>
}

@if (!User.Identity.IsAuthenticated)
{
    <div>
        <p>You are not signed in</p>
        <p><a class="btn btn-sm btn-dark" asp-controller="Account" asp-action="Login">Sign in</a></p>
    </div>
}