<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>

    <title>OpenIddict - Authorization Server</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/dist/bundle.css"/>
</head>
<body>
<div class="d-flex flex-column align-content-center justify-content-center h-100">
    <div class="d-flex align-content-center justify-content-center">
        <div class="container-body">
            <h1 class="bangers m-0 p-0">Authorization Server</h1>
            <div class="pt-4 pb-5">
                @RenderBody()
            </div>
            <a href="https://github.com/robinvanderknaap/authorization-server-openiddict" class="m-0 p-0">
                <img class="the-beard" src="~/images/beard.png" alt="the beard"/>
            </a>
            <p class="mt-5">
                <a class="text-muted text-monospace" href="/.well-known/openid-configuration">View OpenID Configuration</a>
            </p>
        </div>
    </div>
</div>
<script src="~/dist/bundle.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>