:focus {
    outline: 0 !important;
}
.input-validation-error {
    border: 1px solid darkred;
}
form {
    width: 100%;
}
.form-control {
    border:0;
    border-radius: 0;
    border-bottom: 1px solid lightgray;
    font-size:0.9rem;
}
.form-control:focus{
    border-bottom-color: lightgray;
    box-shadow: none;
}
.form-control.form-control-last {
    border-bottom: 0;
}
.form-control::placeholder {
    opacity: 0.6;
}
.form-control.input-validation-error {
    border: 1px solid darkred;
} 